<LINK REL=StyleSheet HREF="/css/login/registro.css" TYPE="text/css" MEDIA=screen>
<form action="/registro" ref='uploadForm' method='post' encType="multipart/form-data">
  <div id="contenedor">
    <div id="titulo">
      <p>Registra tu Usuario y Contraseña</p>
    </div>
    <div id="idDueñoTienda">
      {{#each maximo}}
      <input type="text" name="idUsuarios" id="numero" value="{{maximo}}" readonly>
      {{/each}}
    </div>
    
    <div id="datos">
      <input type="text" id="Nombre" name="username" placeholder="Usuario:" required>
    </div>
    <div id="contraseñas">
      <input type="password" id="Contraseña" name="password" placeholder="Contraseña:" required>
    </div>
    <div id="guardar">
      <div id="boton">
        <button type="submit">Guardar</button>
      </div>
    </div>
  </div>
</form>

<script src="/js/numero.js"></script>
<script src="/js/previsualizacion.js"></script>