<link rel="stylesheet" href="/css/facturaElectronica/tarifaIva/editar.css">
<div id="contenedor">
    {{#each lista}}
    <form action="/perdido/editar/{{idPerdido}}" method="post">
    <div id="titulo">
        <p>Agregar mascota</p>
    </div>
    <div id="ImagenPerdido">
        <label>Imagen Perdido:</label>
        <input type="text" name="ImagenPerdido"  value="ImagenPerdido" required>
    </div>
    <div id="FechaPerdido">
        <label>Fecha Perdido:</label>
        <input type="text" name="FechaPerdido" value="FechaPerdido" required> 
               <select name="Fecha">
                    <option>Hace 1 día</option>
                    <option>Hace 2 día</option>
                    <option>Hace 1 semana</option>
                    <option>Hace 1-2 semana</option>
                    <option>Más de un mes</option>
                </select>
    </div>
    <div id="DescripcionPerdido">
        <label>Descripcion Perdido:</label>
        <input type="text" name="DescripcionPerdido" value="DescripcionPerdido" required>
    </div>
    <div id="TelefonoPerdido">
        <label>Telefono Perdido:</label>
        <input type="text" name="TelefonoPerdido" value="TelefonoPerdido" required>
    </div>
    <div id="boton">
        <button type="submit">Actualizar</button>
    </div>
    </form>
    {{/each}}
</div>